<form name="comparisonSearch" class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" ng-model='$ctrl.aPhrase' type="text" placeholder="Compare this" aria-label="Compare this">
    <input class="form-control mr-sm-2" ng-model='$ctrl.bPhrase' type="text" placeholder="with this" aria-label="with this">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
        ng-disabled="$ctrl.aPhrase==nul||$ctrl.bPhrase==nul"
        ng-click="$ctrl.addNew($ctrl.aPhrase, $ctrl.bPhrase)">Go</button>
</form>